* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #030227;
  font-family: "author";
}

.v {
  font-family: "satoshi";
}
.temp > p {
  font-size: 8em;
  margin: 0;
  padding: 0;
}
.temp > span {
  font-size: 3em;
  margin-top: 1em;
}

.container {
  background: url(../img/20912441_6381854.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  border: 2px white solid;
}

input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  text-indent: 0.51em;
  color: #1679ab;
}

::placeholder {
  color: #dddddd;
}

.result-box {
  border-top: 3px solid #515253;
  background-color: white;
  position: absolute;
  width: 38%;
  left: 31.5%;
  right: auto;
  padding: 1em;
  display: none;
}
.result-box > p {
  font-size: 1.2em;
  font-family: "satoshi";
  cursor: pointer;
}
.result-box > p:last-child {
  padding-bottom: 0;
}

.navbarr {
  border-bottom: 3.5px solid white;
}
.navbarr > div {
  border-bottom: 2px solid white;
  cursor: pointer;
  margin: 0.5em;
}
.col-3 > a {
  font-size: 1.3em;
}

.temp {
  display: flex;
  align-items: start;
  margin-top: -2.3em;
}

.container-card {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-top: 20em;
  border-bottom: 3px solid white;
}
.container-card::-webkit-scrollbar {
  display: none;
}
.hourly-temp-card {
  margin: 0 2.5em;
  /* To get Scroll bar at the end and
   to set Intems in a column */
  flex: 0 0 auto;
  width: 6%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hourly-temp-card > img {
  width: 7.5vw;
}

td {
  padding: 0 1em;
  font-size: 1.5em;
}

th {
  text-align: left;
}

@media (max-width: 768px) {
  .card {
    width: 10%;
  }
  .result-box > p {
    font-size: 0.8em;
  }

  .hourly-temp-card {
    margin: 0 1.2em;
  }
  .hourly-temp-card > img {
    width: 11vw;
  }

  td {
    font-size: 1.2em;
  }
}
